<!-- <div class="basic">-->
<!--  <p class="block1">-->
<!--    <img src="./../../assets/img/store1.jfif" loading="lazy" alt="…" width="600" height="400">-->
<!--    <h1 class="layer">Сыктывкар, ул. Ленина, 35</h1>-->
<!--  <p class="block">-->
<!--    <img src="./../../assets/img/store2.jpg" loading="lazy" alt="…" width="600" height="400">-->
<!--    <h1 class="layer">Платформа 9 3/4</h1>-->
<!--  <p class="block1">-->
<!--    <img src="./../../assets/img/store3.jfif" loading="lazy" alt="…" width="600" height="400">-->
<!--    <h1 class="layer">Нефтекамск, Цветочная ул., 57</h1>-->
<!--  <p class="block">-->
<!--    <img src="./../../assets/img/store4.png" loading="lazy" alt="…" width="600" height="400">-->
<!--    <h1 class="layer">Санкт-Петербург, ул. Гражданская, д. 19</h1>-->
<!--  <p class="block1">-->
<!--    <img src="./../../assets/img/store5.jfif" loading="lazy" alt="…" width="600" height="400">-->
<!--    <h1 class="layer">Москва, Петровка, 38</h1>-->
<!-- </div>-->
